*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-image: url(./img/design1_image1.jpg);
    background-position-y: 25%; 
}

body{
    font-family: 'Sofia Sans Extra Condensed', sans-serif,bold;
    color: white;
}


h1{
    color:rgb(219, 107, 32);
    font-size: 50px;
    
}

.subtitulo{
    text-align:  center;
    font-size: 15px;
    background-color: rgb(219, 107, 32);
    padding: 10px 20px;
    text-decoration: none;
}


.logo>img {
    margin: auto;
    width: 250px;
}

/*Barra de navegacion*/

.navbar {

    display: inline-flex;
    vertical-align: top;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
   
}
nav>a {
    background-color: rgb(219, 107, 32);
    border: 2px solid black;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav>a:hover{
    color: black;
    background-color:rgb(223, 22, 22);
}


/*Cajas*/

.flex-container{
    display: flex;
    height: 90vh;
    background-image:url(./img/fondo.jpg);
    background-position-y: 25%;
    justify-content: center;
    align-items: center;
    
}

.caja{
    height: 90vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(219, 107, 32) ; 
    margin: 0 4rem ; 
    padding: auto;

}

.caja1{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(219, 107, 32) ; 
    margin: 0 4rem ; 
    padding: auto;
    color: black;

}

.caja-tabla{
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgb(219, 107, 32) ; 
}





#contenedor-imagen img{
    width: 300px;
    border: 2px solid black;
    
}



#main-principal{
    display: flex;
    background-image: url(./img/fondo.jpg);
    background-position-y: 25%;

}


#permission{
    color: black;
    
}

#subtitulo-game{
    color: blanchedalmond;
    text-decoration: none;
}


#circulo{
    list-style-type:square;
}


h3{
    color:black;
    text-decoration: underline;
    text-align: center;
    
}
h4{
    text-decoration: underline;
}
main p{
    text-indent: 2rem;
}


#texto-caja{
    text-decoration: none;
}

#boton{
 margin: 10px;
 padding: 10px;
 position: relative;
 left: 650px;
 border: 1px solid black;

}

/*Tabla*/
table,th,td {
    border: 1px solid black;
    flex-direction: column;
}
li{
    list-style-position: inside;
}

#lista{
    color: black;
}

#lista-a{
    list-style: lower-alpha;
}
    

