*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-image: url(./img/design1_image1.jpg);
    background-position-y: 25%; 
}

body{
    font-family: 'Sofia Sans Extra Condensed', sans-serif,bold;
    color: white;
}


h1{
    color:rgb(219, 107, 32);
    font-size: 50px;
    
}

.subtitulo{
    text-align:  center;
    font-size: 15px;
    background-color: rgb(219, 107, 32);
    padding: 10px 20px;
    text-decoration: none;
}


.logo>img {
    margin: auto;
    width: 250px;
}

/*Barra de navegacion*/

.navbar {

    display: inline-flex;
    vertical-align: top;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
   
}
nav>a {
    background-color: rgb(219, 107, 32);
    border: 2px solid black;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav>a:hover{
    color: black;
    background-color:rgb(223, 22, 22);
}


/*Cajas*/

.flex-container{
    display: flex;
    height: 90vh;
    background-image:url(./img/fondo.jpg);
    background-position-y: 25%;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    
}

.caja{
    height: 30vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(219, 107, 32) ; 
    margin: 0 4rem ; 
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.caja1{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(218, 131, 73) ;
    flex-direction: column;
    color: black;
    height: 30vh;
    margin: 0 4rem ; 
}

.caja-tabla{
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgb(219, 107, 32) ; 
}


#caja-form{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(218, 131, 73) ; 
    flex-direction: column;
    color: black;
    height: 55vh;
    margin: 0 30rem ;

}

.caja-mapas{
    height: 60vh;
    width: 25vw;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(219, 107, 32) ; 
    padding: 20px;
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: space-around;

}

.map-group{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    
}
#boton{
    padding: 10px;
    display:flex;
    font-size: 25px;
    margin: auto;
}



#contenedor-imagen img{
    width: 300px;
    border: 2px solid black;
    
}



#main-principal{
    display: flex;
    background-image: url(./img/fondo.jpg);
    background-position-y: 25%;

}


#permission{
    color: black;
    
}

#subtitulo-game{
    color: blanchedalmond;
    text-decoration: none;
}


#circulo{
    list-style-type:square;
}


h3{
    color:black;
    text-decoration: underline;
    text-align: center;
    
}
h4{
    text-decoration: underline;
}
main p{
    text-indent: 2rem;
}


#texto-caja{
    text-decoration: none;
}



/*Tabla*/
table,th,td {
    border: 1px solid black;
    flex-direction: column;
}
li{
    list-style-position: inside;
}

#lista{
    color: black;
    background-color: rgb(219, 107, 32) ;
}

#lista-a{
    list-style: lower-alpha;
}
    


/*Media queries*/
@media only screen and (min-width: 320px) and (max-width: 767px){

}



@media only screen and (min-width: 768px) and (max-width: 1023px){

}


@media only screen and (min-width: 1024px) and (max-width: 1339px){


}
